html {
    color-scheme: dark;
}
div::-webkit-scrollbar {
    width: 10px;
    max-height: 5px;
}
div::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
    height: 5px;
}
div::-webkit-scrollbar-track {
    background-color: transparent;
}
ul::-webkit-scrollbar {
    width: 4px;
    max-height: 5px;
}
ul::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
    height: 5px;
}
ul::-webkit-scrollbar-track {
    background-color: transparent;
}